<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOBBIES</title>
    <link rel="stylesheet" href="css/hobbies.css">
</head>
<body>
    <nav>  
        <ul>
            <li>
                <a href="sobremim.html">QUEM SOU EU?</a>
            </li>
            <li>
                <a href="hobbies.html">HOBBIES</a>
            </li>
            <li>
                <a href="projetos.html">PROJETOS</a>
            </li>
        </ul>
    </nav>
    <div class="nav-divider"></div>
    <section>
        <div class="cyber-terminal">
            <nav class="cyber-navegacao">
    
            <a href="#cinefilo" class="tab-botao">SERIES/FILMES</a>
            <a href="#musicas" class="tab-botao">MUSICAS</a>
            <a href="#jogos" class="tab-botao">JOGOS</a>
            </nav>

            <div id="cinefilo" class="tab-conteudo">
                <h3 class="glitch-texto">OS MEUS FAVORITOS</h3>
                <div class="texto_intro">
                    <p class="filmes_intro">FILMES</p>
                    <p class="series_intro">SERIES</p>
                    <p class="atores_intro">ATORES</p>
                </div>
                <div class="div_maior">
                    <div class="series-filmes_container">
                        <div class="filme_item">
                            <img src="../assets/lilychouchou.jpeg" class="imagem_lily">
                            <p class="texto_lily">Lily Chou Chou</p>
                        </div>
                        <div class="filme_item">
                            <img src="../assets/challengers movie.jpeg" class="imagem_chall">
                            <p class="texto_chall">Challengers</p>
                        </div>
                        <div class="filme_item">
                            <img src="../assets/toystory.jpeg" class="imagem_toystory">
                            <p class="texto_tstory">Toy Story 3</p>
                        </div>
                    </div>
                    <div class="series-filmes_container">
                        <div class="filme_item">
                            <img src="../assets/shameless.jpeg" class="imagem_shameless">
                            <p class="texto_shameless">Shameless</p>
                        </div>
                        <div class="filme_item">
                            <img src="../assets/yellow jackets aesthetic_ Jackie.jpeg" class="imagem_yellowjacket">
                            <p class="texto_yellowjacket">Yellowjackets</p>
                        </div>
                    </div>
                    <div class="series-filmes_container">
                        <div class="filme_item">
                            <img src="../assets/mike faist.jpeg" class="imagem_mike">
                            <p class="texto_mike">Mike Faist</p>
                        </div>
                        <div class="filme_item">
                            <img src="../assets/dina woodward.jpeg" class="imagem_dina">
                            <p class="texto_marced">Isabela Marced</p>
                        </div>
                        <div class="filme_item">
                            <img src="../assets/tashi duncan _ challengers movie (2024).jpeg" class="imagem_zendaya">
                            <p class="texto_zendaya">Zendaya</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="musicas" class="tab-conteudo">
                <h3 class="glitch-texto">GOSTO MUSICAL</h3>
                <div class="texto_intro2">
                    <p class="artistas_intro">ARTISTAS</p>
                    <p class="albuns_intro">ALBUNS</p>
                    <p class="musicas_intro">MUSICAS</p>
                </div>
                <div class="div_maior2">
                    <div class="musica_container">
                        <div class="musica_item">
                            <img src="../assets/Beyoncé.jpeg" class="imagem_bey">
                            <p class="texto_bey">Beyonce</p>
                        </div>
                        <div class="musica_item">
                            <img src="../assets/paramore.jpeg" class="imagem_paramore">
                            <p class="texto_paramore">Paramore</p>
                        </div>
                        <div class="musica_item">
                            <img src="../assets/loona.jpeg" class="imagem_loona">
                            <p class="texto_loona">Loona</p>
                        </div>
                    </div>
                    <div class="musica_container">
                        <div class="musica_item">
                            <img src="../assets/exok.jpeg" class="imagem_exo">
                            <p class="texto_exo">MAMA - Exo-M</p>
                        </div>
                        <div class="musica_item">
                            <img src="../assets/INTERSCOPE - C,XOXO (CD).jpeg" class="imagem_camilla">
                            <p class="texto_camilla">C,XOXO - Camilla Cabello</p>
                        </div>
                        <div class="musica_item">
                            <img src="../assets/Wicked title screen.jpeg" class="imagem_wicked">
                            <p class="texto_wicked">Wicked - Stephen Schwartz</p>
                        </div>
                    </div>
                    <div class="musica_container">
                        <div class="musica_item">
                            <img src="../assets/A Tábua de Esmeralda - Jorge Ben.jpeg" class="imagem_jorge">
                            <p class="texto_jorge">O Namorado Da Viúva - Jorge Ben Jor</p>
                        </div>
                        <div class="musica_item">
                            <img src="../assets/FLO GIRLS AESTHETIC _ losing you cover _ edit by….jpeg" class="imagem_flo">
                            <p class="texto_flo">Losing You - FLO</p>
                        </div>
                        <div class="musica_item">
                            <img src="../assets/Into You (feat_ Fabolous).jpeg" class="imagem_tamia">
                            <p class="texto_tamia">Officially Missing You - Tamia</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="jogos" class="tab-conteudo">
            <h3 class="glitch-texto">JOGOS</h3>
                <div class="texti_intro">
                    <p>alguns jogos do meu repertório :)</p>
                </div>

                <div class="div_maior3">
                    <div class="jogo_item">
                        <div class="jogo_container">
                            <p class="texto_jogo">Until Then</p>
                            <img src="../assets/until-then-until-then-game.gif" class="imagem_jogo">
                        </div>
                        <div class="jogo_container">
                            <p class="texto_jogo">Naruto Ultimate Ninja Storm 3</p>
                            <img src="../assets/Fight Rage GIF by BANDAI NAMCO.gif" class="imagem_jogo">
                        </div>
                        <div class="jogo_container"> 
                            <p class="texto_jogo">Overwatch</p>
                            <img src="../assets/Overwatch Overwatchleague GIF by Dallas Fuel.gif" class="imagem_jogo">
                        </div>
                        <div class="jogo_container"> 
                            <p class="texto_jogo">Life is Strange 2</p>
                            <img src="../assets/lis2-life-is-strange.gif" class="imagem_jogo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>