<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJETOS</title>
    <link rel="stylesheet" href="css/projetos.css">
</head>
<body>
    <nav>  
        <ul>
            <li>
                <a href="sobremim.html">QUEM SOU EU?</a>
            </li>
            <li>
                <a href="hobbies.html">HOBBIES</a>
            </li>
            <li>
                <a href="projetos.html">PROJETOS</a>
            </li>
        </ul>
    </nav>
        <div class="nav-divider"></div>
        <section class="projeto-aba">
            <div class="imagens_div">
                <img src="../assets/Captura de tela 2025-04-21 215432.png" class="projeto">
                <img src="../assets/Captura de tela 2025-04-23 160323.png" class="projeto">
            </div>
            <div class="imagens_div">
                <img src="../assets/Captura de tela 2025-04-23 160334.png" class="projeto">
                <img src="../assets/Captura de tela 2025-04-23 160344.png" class="projeto">
            </div>
        </section>
</body>
</html>