<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo!</title>
    <link rel="stylesheet" href="css/sobremim.css">
</head>
<body>
    <nav>  
        <ul>
            <li>
                <a href="sobremim.html">QUEM SOU EU?</a>
            </li>
            <li>
                <a href="hobbies.html">HOBBIES</a>
            </li>
            <li>
                <a href="projetos.html">PROJETOS</a>
            </li>
        </ul>
    </nav>
            <div class="nav-divider"></div>
    <header>
        <div class="perfil">
            <img src="../assets/fotoinclude.png"><img> 
            <h1> TAINA CAROLINE ALVES DE MIRANDA </h1>
            <h2>CURSO: Engenharia de Software (UFC - RUSSAS)</h2>
            <h3>DATA DE NASCIMENTO: 11/08/2004</h3>
            <h4>SEMESTRE: 4</h4>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <label for="botao" class="botao_revelador">
                    <span class="glitch-text">???</span>
                </label>
                <input type="checkbox" id="botao" class="hidden-check">
                
                <div class="mensagem">
                  <h7>BIOGRAFIA REVELADA!</h7>
                  <p>Sou natural de Teresina, Piauí e moro em Russas desde agosto de 2023 por conta da graduação que estou fazendo na UFC.
                    Meu interesse pela área da programação surgiu no sétimo ano, quando meu professor apresentou a program- 
                    ação em blocos. Esse interesse ressurgiu no terceiro ano do ensino médio, então resolvi, por meio do SISU, entrar no 
                    curso de Engenharia de Software na Federal mais próxima da minha casa. Desde que vim pra Russas, 
                    busco fazer esportes, como a <span class="destaque-azul">capoeira</span>, <span class="destaque-azul">basquete</span>, <span class="destaque-azul">vôlei</span> e também me tornei mais próxima do teatro, fui integrante do projeto 
                    <span class="destaque-laranja">Clube do Improviso</span> e participo de aulas na <span class="destaque-vermelho">OFICARTE</span>. Além do meu grande interesse e amor pela área da progra-
                    mação, o que mais me incetiva a continuar em uma graduação longe de casa e da minha família são os meus amigos. Sinto falta da minha família, mas, felizmente, aqui em Russas eu encontrei uma nova.
                  </p>
                </div>
              </div>
        </section>
    </main>
</body>
</html>