@font-face {
    font-family: "Pixel";
    src: url('../../assets/PixelifySans-VariableFont_wght.ttf') format('truetype');
}

.nav-divider {
    height: 2px;
    background: linear-gradient(90deg, #A8A8A8, #5A9E70, #00FF41, #5A9E70, #A8A8A8);
    box-shadow: 0 0 10px #00FF41, inset 0 0 3px #A8A8A8;
}

.perfil{
    display: flex;
    align-items: center;
    border: 1px solid #00FF41;
    margin-top: 10px;
}

.perfil img {
    display: block;
    width: 300px;
}

.perfil h1{
    margin-left: -280px;
    margin-top: -250px;
    font-size: 20px;
}

.perfil h2{
    margin-left: -332px;
    margin-top: -200px;
    font-size: 17px;
    color:#F0F0F0;
}

.perfil h3{
    margin-left: -390px;
    margin-top: -150px;
    font-size: 17px;
    color:#F0F0F0;
}

.perfil h4{
    margin-left: -271px;
    margin-top: -100px;
    font-size: 17px;
    color:#F0F0F0;
}

body{
    background-color: black;
    font-family: "Pixel";
    color: #00FF41;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}


a{
    text-decoration: none;
    color: #00FF41;
    font-size: 20px;
    text-shadow: 0 0 2px #00FF9D, 0 0 10px #00FF41;/* neon */
    font-weight: bolder;
}

a:hover {
    transform: skewX(-10deg);
    text-shadow: 
      1px 1px 0 #00FF41,  /* efeito video analógico no texto*/
      1.5px 1.5px 0 #00FF9D,
      2px 2px 0 #0066cc;
    transition: all 0.2s ease;
}

.container {
    background: rgba(13, 13, 13, 0.8);
    border: 1px solid #00FF41;
    padding: 20px;
    margin: 0;
  }

.botao_revelador {
    display: inline-block;
    background: #0D0D0D;
    color: #00FF41;
    border: 2px solid #00FF41;
    padding: 12px 25px;
    font-family: "Pixel";
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 0 5px #00FF9D;
    transition: all 0.3s ease;
}
  
.botao_revelador:hover {
    background: rgba(0, 255, 65, 0.1);
    box-shadow: 0 0 15px #00FF41;
}
  
  
.hidden-check {
    display: none;
}
  
  
.mensagem {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    font-family: "Pixel";
}
  
.mensagem h7{
    font-size: 30px;
    color: #00FF9D;
}

.mensagem p{
    font-size: 25px;
    color: #F0F0F0;
}

  
.hidden-check:checked ~ .mensagem {
    max-height: 1000px;
    margin-top: 20px;
    border-top: 1px dashed #00FF41;
    padding-top: 15px;
}

.destaque-laranja{
    color:orange;
    text-shadow: 0 0 5px #FF8C00, 0 0 10px rgba(255, 165, 0, 0.7); 
    font-weight: bold;
    animation: efeito-laranja 2s infinite alternate;
}

@keyframes efeito-laranja {
    from { opacity: 0.8; text-shadow: 0 0 5px #FF8C00; }
    to { opacity: 1; text-shadow: 0 0 15px #FFA500, 0 0 20px #FF4500; }
  }

.destaque-vermelho{
    color:red;
    text-shadow: 
    0 0 5px #FF3333, /* Brilho vermelho */
    0 0 10px rgba(255, 51, 51, 0.7),
    0 0 20px rgba(255, 0, 0, 0.5); /* Efeito neon profundo */
    font-weight: bold;
    animation: efeito-vermelho 2s infinite alternate;
}

@keyframes efeito-vermelho {

    from { opacity: 0.8; text-shadow: 0 0 5px  #FF3333; }
    to { opacity: 1; text-shadow: 0 0 15px #FF0000, 0 0 20px rgba(255, 51, 51, 0.8); }
}

.destaque-azul{
    color:blue;
    text-shadow: 0 0 5px rgb(0, 166, 255), 0 0 10px blue, 0 0 20px darkblue;
    font-weight: bold;
    animation: efeito-azul 2s infinite alternate;
}

@keyframes efeito-azul {
    from { opacity: 0.8; text-shadow: 0 0 5px  blue; }
    to { opacity: 1; text-shadow: 0 0 15px #0e45e9, 0 0 20px darkblue; }
}


  